/* Layout Container */
.layout-container {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  overflow: auto;
  transition: grid-template-columns 0.3s ease;
}

/* Main Content */
.layout-main {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: #f1f1f1;
  padding: 2rem;
  overflow-y: auto;
}

.page-content::-webkit-scrollbar {
  width: 8px;
}

.page-content::-webkit-scrollbar-thumb {
  background-color: #d5d5d5;
  border-radius: 4px;
}

.page-content::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Back Button */
.add-device-back-button {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: white;
  font-size: 1rem;
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 1.5rem;
}

.add-device-back-button:hover {
  background-color: #4b525a;
}

.add-device-back-button svg {
  margin-right: 0.5rem;
  width: 24px;
  height: 24px;
}

/* Add Device Card */
.add-device-card {
  background-color: white;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

.add-device-card h1 {
  font-size: 1.25rem;
  color: #343a40;
  margin-bottom: 1rem;
}

.card-divider {
  border: 0;
  height: 1px;
  background-color: #ddd;
  margin: 1rem 0;
}

/* Form Group */
.add-device-form-group {
  display: grid;
  grid-template-columns: 150px 10px 1fr; /* Label, colon, and input */
  align-items: center; /* Vertically center the content */
  margin-bottom: 1rem;
}

.add-device-form-group label {
  font-size: 0.875rem;
  color: #343a40;
}

.add-device-form-group span {
  text-align: center;
  color: #343a40;
  padding-right: 1rem;
}

.add-device-form-group input,
.add-device-form-group select,
.add-device-form-group textarea {
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
  color: #666;
  font-size: 0.875rem;
}

.add-device-form-group input:focus,
.add-device-form-group select:focus,
.add-device-form-group textarea:focus {
  border-color: #007bff;
  outline: none;
}

.add-device-form-group textarea {
  resize: none;
  height: 80px;
}

/* Submit Button */
.add-device-submit-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-device-submit-button:hover {
  background-color: #0056b3;
}
